.startArray .arrayElement {
    color: blue;
    padding-left: 10px;
}

.startArray .arrayElementSelect {
    color: blue;
    font-weight: bold;
    padding-left: 10px;
}

.startArray .arrayElementDisable {
    color: gray;
    font-weight: bold;
    padding-left: 10px;
}

.treeView .branch {
    color: blue;
    float: left;
    border-style: groove;
}

.treeView .test {
    color: red;
}

.treeView .valueBranch {
    text-align: center;
}

.treeView .leftbranch {
}

.treeView .rightbranch {

}

